* {
  box-sizing: border-box;
}

body {
    background: url("../rain.jpg") no-repeat center fixed;
    background-size: cover;
    margin: 0;
    font-family: Arial;
}

/* Style the header */
.header {
    background-color: #f2f2f2;
    padding: 10px;
    width: 100%;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
    color: white;
}

/* Middle column */
.column.middle {
    width: 50%;
}

#quoteDisplay {
    background-color: #999;
    width: auto;
    border: 25px solid #427876;
    border-radius: 25px;
    padding: 25px;
    margin: 25px;
    color: white;
    text-align: center;
}

.profile {
  border: 4px solid black;
  border-radius: 50%;
}

.author {
  color: red;
  display: block;
  width: 100%;
  text-align: center;
  margin: 12px auto;

}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: #427876;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: lightblue}

.button:active {
  box-shadow: 0 5px gray;
  transform: translateY(4px);
}

/* Style the footer */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #999;
   text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
    .column.side, .column.middle {
        width: 100%;
    }
